<%- include('../partials/header') %>

<h2>Add a New Book</h2>
<form action="/books" method="POST">
    <label>Title
        <input type="text" name="title">
    </label><br>
    <label>Author
        <input type="text" name="author">
    </label><br>
    <label>Category
        <select name="category">
            <option value=</option>
        </select>
    </label>


<%- include('../partials/footer') %>